.container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  
    
}

.box
{
    height: 30%;
    margin: 5px;
    width: 400px;
    
}
.box img
{
    width: 348px;
    height: 356px;
}

  @media screen and (max-width:1200px) {
      .box {
          width: 10%;

      }
  }

  @media screen and (max-width:600px) {
      .box {
          width: 90%;

      }
  }
